---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroHome from '../components/HeroHome.astro';
import TrustBar from '../components/TrustBar.astro';
import DestinationsHome from '../components/DestinationsHome.astro';
import ValueProposition from '../components/ValueProposition.astro';
import ProcessSection from '../components/ProcessSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import FAQSection from '../components/FAQSection.astro';
import CTAFinal from '../components/CTAFinal.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Global Dreamers - Estudia y Trabaja en el Exterior" description="Asesoría 100% gratuita para estudiar y trabajar en el exterior. Más de 500 estudiantes ya viven su experiencia con Global Dreamers.">
  <Navbar />
  <main>
    <HeroHome />
    <TrustBar />
    <DestinationsHome />
    <ValueProposition />
    <ProcessSection />
    <TestimonialsSection />
    <FAQSection />
    <CTAFinal />
  </main>
  <Footer />
</Layout>
